*
!.gitignore
!*.h
!*.cpp
!*.sh
!*.py
!Makefile
!LICENSE
!sequence/*.C
!sequence/*.h
!sequence/*.sh
!share/RDPTools/*
share/RDPTools/lib/
share/RDPTools/*~
share/RDPTools/*.jar
share/RDPTools/Xander_assembler

